<h2>Edit Employee</h2>

<form th:action="@{/update}" th:object="${emp}" method="post">

    ID: <input type="text" th:field="*{empId}" readonly/><br><br>

    Name: <input type="text" th:field="*{empName}"/>
    <span th:errors="*{empName}"></span><br><br>

    Salary: <input type="text" th:field="*{empSal}"/>
    <span th:errors="*{empSal}"></span><br><br>

    DOJ: <input type="date" th:field="*{empDoj}"/>
    <span th:errors="*{empDoj}"></span><br><br>

    Dept: <input type="text" th:field="*{deptName}"/>
    <span th:errors="*{deptName}"></span><br><br>

    <button type="submit">Save</button>

</form>
<p th:if="${msg}" th:text="${msg}" style="color:green;"></p>